body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #c69bfa;
    background: radial-gradient(circle, rgba(198, 155, 250, 1) 0%, rgba(147, 92, 214, 1) 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.login-box {
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

.login-box h2{
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    text-align: left;
    margin-bottom: 15px;
}

.input-group label {
    font-size: 14px;
    color: #555;
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: 0.3s;
}

.input-group input:focus{
    border-color: #6BD5FF;
    box-shadow: 0 0 5px rgba(138, 42, 203, 0.26);
}

button {
    width: 100%;
    padding: 12px;
    background: #8615ff;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #6a11cb;
}